@font-face {
    font-family: 'sigmarregular';
    src: url('/assets/sigmarone-webfont.eot');
    src: url('/assets/sigmarone-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/sigmarone-webfont.woff2') format('woff2'),
         url('/assets/sigmarone-webfont.woff') format('woff'),
         url('/assets/sigmarone-webfont.ttf') format('truetype'),
         url('/assets/sigmarone-webfont.svg#sigmarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}